{% extends "layout.html" %}

{% block content %}
  <div class="row">
    <div class="col-6 offset-3">
      <div class="list-group text-center">
        {% for folder in folders %}
          <a href="{{ url_for('folder', folder=folder) }}"
             class="list-group-item list-group-item-action list-group-item-{{ loop.cycle('primary', 'secondary', 'success', 'danger', 'warning', 'info', 'light', 'dark') }} folder">
            {{ folder }}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
